<p>&nbsp;<br></p>
<a
 style="color: white;text-decoration: none;background: transparent;font-weight: bold;"
 onmouseover="this.style.color='pink'"
 onmouseout="this.style.color='white'"
 href="https://nft-tix.com/events">
   EVENTS
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a
 style="color: white;text-decoration: none;background: transparent;font-weight: bold;"
 onmouseover="this.style.color='pink'"
 onmouseout="this.style.color='white'"
 href="https://nft-tix.com/marketplace">
   MARKETPLACE
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a
 style="color: white;text-decoration: none;background: transparent;font-weight: bold;"
 onmouseover="this.style.color='pink'"
 onmouseout="this.style.color='white'"
 href="https://nft-tix.com/organizers">
   FOR ORGANIZERS
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a
 style="color: white;text-decoration: none;background: transparent;font-weight: bold;"
 onmouseover="this.style.color='pink'"
 onmouseout="this.style.color='white'"
 href="https://nft-tix.com/how-it-works">
   HOW IT WORKS
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a
 style="color: white;text-decoration: none;background: transparent;font-weight: bold;"
 onmouseover="this.style.color='pink'"
 onmouseout="this.style.color='white'"
 href="https://nft-tix.com/news">
   NEWS
</a>